_site
.sass-cache
.jekyll-cache
.jekyll-metadata
Gemfile
Gemfile.lock
vendor
.DS_Store
fieldwork.bbprojectd/Scratchpad.txt
fieldwork.bbprojectd/paradia.bbprojectsettings
fieldwork.bbprojectd/project.bbprojectdata
fieldwork.bbprojectd/Unix Worksheet.worksheet
