<p>
	Fieldwork will start {{ site.data.course-info.fieldwork-start-date }} for six weeks, ending {{ site.data.course-info.fieldwork-end-date }}. 
</p>
<p>
	<a href="https://forms.office.com/r/4jHrgbHr0G" title="I got Fieldwork" target="_blank">I got Fieldwork!</a> 
</p>
<p>
	<a href="https://algonquinlivecom-my.sharepoint.com/:x:/g/personal/paradia_algonquincollege_com/EdFSKEMmLXpIpyYdtc46DgsBjMnXINEbum19BYk_z1E7zw?e=SDhkcg" title="Grad Show Teams/Work Log" target="_blank">Grad Show Teams/Work Log</a> 
</p>
